#interest_sectl a {
    cursor:pointer
}
#interest_sectl a:link {
    color:#37a;
    text-decoration:none
}
#interest_sectl a:visited {
    color:#669;
    text-decoration:none
}
#interest_sectl a:hover {
    color:#fff;
    text-decoration:none;
    background:#37a
}
#interest_sectl a:active {
    color:#fff;
    text-decoration:none;
    background:#f93
}
.bigstar50,.bigstar45,.bigstar40,.bigstar35,.bigstar30,.bigstar25,.bigstar20,.bigstar15,.bigstar10,.bigstar05,.bigstar00 {
    display:inline-block;
    background:url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) no-repeat;
    background:-webkit-image-set(url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) 1x, url(https://img3.doubanio.com/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;
    width:75px;
    height:15px;
    margin:1px 0 0 0;
    overflow:hidden
}
.bigstar50 {
    background-position:0 0px
}
.bigstar45 {
    background-position:0 -15px
}
.bigstar40 {
    background-position:0 -30px
}
.bigstar35 {
    background-position:0 -45px
}
.bigstar30 {
    background-position:0 -60px
}
.bigstar25 {
    background-position:0 -75px
}
.bigstar20 {
    background-position:0 -90px
}
.bigstar15 {
    background-position:0 -105px
}
.bigstar10 {
    background-position:0 -120px
}
.bigstar05 {
    background-position:0 -135px
}
.bigstar00 {
    background-position:0 -150px
}
.subject-rating {
    color: #e09015;
    font-size: 12px;
    margin-left: 2px;
}
#interest_sectl {
    width: 160px;
    color:#9b9b9b;
    padding: 15px;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 99999;
    background-color: #fff;
    border: 1px dashed #ddd;
    box-shadow: 0px 0px 10px #ccc;
    font: 12px Helvetica,Arial,sans-serif;
}
#interest_sectl .rating_wrap {
    font-size:12px;
    line-height:14px
}
#interest_sectl .rating_wrap .rating_logo {
    line-height:1
}
#interest_sectl .rating_self {
    padding:0;
    line-height:2
}
#interest_sectl .rating_self:before,#interest_sectl .rating_self:after {
    content:'';
    display:block;
    clear:both
}
#interest_sectl .rating_num {
    color:#494949;
    padding:0;
    min-width:30%;
    font-size:28px
}
#interest_sectl .rating_right {
    float:left;
    padding:10px 0 10px 6px
}
#interest_sectl .rating_right.not_showed {
    padding:10px 0 0
}
#interest_sectl .power {
    height:10px;
    float:left;
    margin:1px 4px;
    background:#ffd596 none repeat scroll 0 0
}
#interest_sectl .power.color_gray {
    background:#ccc
}
#interest_sectl .rating_per {
    font-size:11px
}
#interest_sectl .rating_betterthan {
    position:relative;
    padding:15px 0;
    border-top:1px solid #eaeaea;
    color:#9b9b9b;
    margin:0
}
.ll {
    float: left;
}
.starstop,.stars {
    margin-right:5px
}
.starstop {
    float:left
}
.interest_close {
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
}
.interest_close:hover::before, .interest_close:hover::after {
    background: #fff;
}
.interest_close::before, .interest_close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #37a;
}
.interest_close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.interest_close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.interest_close.thick::before, .interest_close.thick::after {
    height: 4px;
    margin-top: -2px;
}
.interest_close:hover {
    text-decoration: none;
}


#comment-list-wrapper {
    overflow: hidden;
    margin-top: 20px
}

#comment-list-wrapper .comment-list ul {
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#comment-list-wrapper .comment-list .comment-item {
    list-style-type: none;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 5px
}

#comment-list-wrapper .comment-list .comment-item .blank-tip {
    margin-bottom: 5px
}

#comment-list-wrapper .comment-list .comment-item .comment-content {
    margin-bottom: 5px;
    overflow: hidden
}

#comment-list-wrapper .comment-list.noshow {
    display: none
}

#comment-list-wrapper .comment-list.show {
    margin-top: 10px;
    display: block
}

#comment-list-wrapper .comment-ft {
    text-align: right
}
#comment-list-wrapper .comment-more {
    line-height: 1.7em
}

#subject-tip {
    position: absolute;
    top: 0;
    z-index: 99999;
    max-width: 200px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #ddd;
}

#subject-tip .rating_logo {
    color: #9b9b9b;
    margin-bottom: 10px;
}

#subject-tip h3 {
    font-weight: 400;
    font-size: 16px;
    color: #111;
    height: auto;
    margin-left: 0
}

#subject-tip .release-year {
    font-size: 12px;
    margin-left: 8px;
    color: #aaa
}

#subject-tip .rater-num {
    color: #111;
    margin-left: 2px
}

#subject-tip .subject-intro {
    margin-top: 08px;
    padding: 10px;
    background-color: #f7f7f7;
    color: #111
}

#subject-tip .star {
    margin: 7px 0 10px
}
.subject-star {
    vertical-align: top;
}
.subject-tip-bd li {
    padding-left: 40px;
    line-height: 20px;
    overflow: hidden;
    zoom: 1;
    color: #111
}

.subject-tip-bd li span {
    margin-right: 5px
}

.subject-tip-bd li .label {
    margin-left: -40px;
    float: left;
    padding: 0
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* Loading */
.bar1 {
  -webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.12;
}
.bar2 {
  -webkit-transform:rotate(45deg) translate(0, -40px);opacity:0.25;
}
.bar3 {
  -webkit-transform:rotate(90deg) translate(0, -40px);opacity:0.37;
}
.bar4 {
  -webkit-transform:rotate(135deg) translate(0, -40px);opacity:0.50;
}
.bar5 {
  -webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.62;
}
.bar6 {
  -webkit-transform:rotate(225deg) translate(0, -40px);opacity:0.75;
}
.bar7 {
  -webkit-transform:rotate(270deg) translate(0, -40px);opacity:0.87;
}
.bar8 {
  -webkit-transform:rotate(315deg) translate(0, -40px);opacity:1;
}

#loading {
    float: none;
    padding: 0;
    margin: 0 auto;
    position:relative;
    width:100px;
    height:100px;
    -webkit-border-radius:100px;
    -webkit-transform:scale(0.5);

    -webkit-animation-name: rotate;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
#loading div {
    width:20px;
    height:20px;
    background:#000;
    -webkit-border-radius:40px;
    position:absolute;
    left:40px;
    top:40px;
}

#loading .bar1 {
  -webkit-transform:rotate(0deg)   translate(0, -40px) scale(0.1);opacity:0.12;}
#loading .bar2 {
  -webkit-transform:rotate(45deg)  translate(0, -40px) scale(0.2);opacity:0.25;}
#loading .bar3 {
  -webkit-transform:rotate(90deg)  translate(0, -40px) scale(0.4);opacity:0.37;}
#loading .bar4 {
  -webkit-transform:rotate(135deg) translate(0, -40px) scale(0.6);opacity:0.50;}
#loading .bar5 {
  -webkit-transform:rotate(180deg) translate(0, -40px) scale(0.8);opacity:0.62;}
#loading .bar6 {
  -webkit-transform:rotate(225deg) translate(0, -40px) scale(1);opacity:0.75;}
#loading .bar7 {
  -webkit-transform:rotate(270deg) translate(0, -40px) scale(1.2);opacity:0.87;}
#loading .bar8 {
  -webkit-transform:rotate(315deg) translate(0, -40px) scale(1.4);opacity:1;}
@-webkit-keyframes rotate {
    from {-webkit-transform:scale(0.5) rotate(0deg);}
    to {-webkit-transform:scale(0.5) rotate(360deg);}
}
